* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

hr {
    height: 2.5px;
    color: grey;
    background-color: grey;
    width: 30%;
    margin-top: 5px;
    margin-left: 35%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: white;
    margin: 0.5rem;
    font-size: 1.5rem;
}

nav {
    background-color: rgb(90, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
    font-size: 18px;
}

nav ul a:hover {
    color: blue;
    padding-left: 10px;
}

.background1 img {
    padding: 0px 0px;
    width: 100%;
    height: 690px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-style: solid;
    margin-top: 60px;
}

.heading2 {
    text-align: center;
    padding: 20px;
}

.dest img {
    width: 395px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 10px;
    border-style: solid;
}

.Dests {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 120px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.dest img:hover {
    border-style: groove;
}

.dest h4 {
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.dest button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(114, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.dest button:hover {
    color: black;
    transform: scale(1.08);
}

#about {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#about img {
    border-style: solid;
    width: 45%;
}

#about img:hover {
    border-style: groove;
}

#about h1 {
    font-size: xx-large;
    padding-bottom: 50px;
}

.abouthead {
    padding: 150px;
    background-color: ivory;
    border-style: solid;
    border-radius: 20px;
    padding-top: 110px;
    margin-top: 90px;
}

.text {
    width: 50%;
    float: right;
    padding: 80px;
    box-shadow: 10px 10px 8px;
    background-color: rgb(201, 196, 196);
    border-style: solid;
    font-size: 20px;
}

.text:hover {
    border-style: groove;
}

.abouthead h2 {
    padding-top: 10px;
    color: black;
}

.abouthead h1 {
    color: black;
}

#contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    border-radius: 20px;
    border-style: solid;
    background-image: url(https://wallpaperaccess.com/full/3967963.jpg);
    margin-top: 100px;
}

#contact .content {
    max-width: 800px;
    text-align: center;
}

#contact .content h2 {
    font-weight: 500;
    color: rgb(61, 28, 28);
    margin-top: 60px;
    font-size: xx-large;
    text-decoration: underline;
}

#contact .content p {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-height: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    width: 60px;
}

.container .contactInfo .box .icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.container .contactInfo .box .text2 {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text2 h3 {
    font-weight: 500;
    color: rgb(24, 194, 194);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox button {
    width: 100px;
    background: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 0;
    margin: 10px 0;
}

.contactForm .inputBox button:hover {
    color: black;
    transform: scale(1.01);
}

.footer-container {
    background-color: white;
    padding: 4rem 0 2rem 0;
    bottom: 0px;
    width: 100%;
    height: 50vh;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    padding-right: 100px;
    margin-top: 100px
}

b {
    color: grey;
}

h2 {
    font-size: 26px;
}

.footer-4 {
    font-family: monospace;
    color: grey;
    font-size: 16px;
    margin: auto;
}

.footer-4 b:hover {
    transition: 0.3s ease-out;
    padding-left: 5px;
    color: red;
}

.footer-4 a {
    text-decoration: none;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    margin: 7px 2px 0px;
    border-radius: 50%;
}

.social {
    display: inline;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    padding-top: 5px;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
    padding-left: 5px;
}

.footer-email-form h2 {
    margin-bottom: -5rem;
    padding: 100px;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: grey;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: red;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    color: rgb(73, 35, 35);
    transition: 0.3s ease-out;
}